[Unit]
Description=DNSCrypt-proxy socket
Documentation=https://github.com/jedisct1/dnscrypt-proxy/wiki

[Socket]
## Listen on TCP socket.
ListenStream=127.0.0.1:53

## Listen on UDP socket.
ListenDatagram=127.0.0.1:53

## Below options are valid only for TCP socket.
## Applying them to UDP socket will result in warnings:
## TCP_NODELAY failed: Protocol not available
## TCP_DEFER_ACCEPT failed: Protocol not available
## Those can be safely ignored.
NoDelay=true
DeferAcceptSec=1

[Install]
WantedBy=sockets.target
