name: Build Optimized Go Binary

on:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Build (Linux/AMD64)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache: true 

      - name: Build Optimized Binary
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: amd64
          GOFIPS140: "latest"
          GOEXPERIMENT: "greenteagc,jsonv2,nodwarf5,rangefunc"
          GOGC: "300"
          GOAMD64: v3
          GODEBUG: "thp=1,netdns=go,gctrace=0"
          GOPRIVATE: "codeberg.org/miekg/dns,github.com/quic-go/quic-go"
          GOPROXY: "https://proxy.golang.org,direct"
        run: |
          go get codeberg.org/miekg/dns@main
          go get github.com/quic-go/quic-go@master
          go mod tidy
          go build \
            -fips140=latest \
            -mod=mod \
            -trimpath \
            -ldflags="-s -w" \
            -o dnscrypt-proxy \
            ./dnscrypt-proxy

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: dnscrypt-proxy-linux-amd64
          path: dnscrypt-proxy
          if-no-files-found: error
          retention-days: 5
